.changelist-page {

  .release_notes_version_header {
    color: #255060;
    font-weight: bold;
    margin-top: 35px;
  }

  .release_notes_version_descr {
    margin-top: 5px;
  }

  .features_descr_text {
    margin-bottom: 10px;
  }

}