.footer-block {
  text-align: center;
  font-size: 13px;

  .language-block {
    display: inline-block;

    a {
      color: #707070;
      text-decoration: none;

      &:hover, &:active {
        color: #707070;
      }

      img {
        margin-right: 3px;
      }
    }
  }

  .copyright-block {
    margin-top: 15px;
    background: url(/assets/images/footer_line.png);

    a {
      color: white;
      text-decoration: none;

      &:hover, &:active {
        color: white;
      }
    }
  }
}