html {
  height: 100%;
}

.full-height-page {
  min-width: min-content;
  width: 100%;
  min-height: 100%;
  position: relative;
}

main {
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
}
